body {
  background-color: #333;
  color: #ddd;
  overflow: hidden;
}

.flex {
  display: flex;
}

#header {
  background-color: #333;
  align-items: center;
  position: absolute;
	top: 0px;
  width: 100%;
}
#header div {
  margin: 2px 5px;
}

#menu {
  background-color: #333;
  position: absolute;
	top: 30px;
  height: 100%;
}
#menu div {
  width: 25px;
  height: 25px;
  text-align: center;
  margin: 2px 5px;
}

#agt-logo {
  width: 25px;
  height: 25px;
}
